.container {
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
  min-width: 34rem;
  padding: 3rem 3rem;
  background-color: var(--white);

  @include media('medium') {
    min-width: 65rem;
    border-radius: 1rem;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    button {
      color: var(--grayish-blue);
      font-size: 1.1rem;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    
    h1 {
      font-size: 1.6rem;
    }

    span {
      background-color: var(--blue);
      font-size: 1.2rem;
      font-weight: bold;
      padding: .3rem 1rem;
      color: var(--white);
      border-radius: .5rem;

    }
  }

  &__info {
    @include media('medium') {
      position: relative;
    }
    
    li {
      list-style: none;
      margin-bottom: .8rem;
      padding: 1.2rem;
      border-radius: 1rem;
      cursor: pointer;
    }

    &__notification {
      display: flex;
      align-items:flex-start;
      gap: 1rem;

      img {
        width: 3rem;
      }
      
      p, strong {
        font-size: 1.3rem;
      }

      &__not-read {
        background-color: var(--very-light-blue);
      }
    }

    &__information {
      color: var(--dark-grey);

      strong {
        color: var(--dark-blue);

        &:hover {
          color: var(--blue);
        }
      }

      b {
        font-size: 1.3rem;
      }

      a {
        color: var(--blue);
        font-weight: bold;
        text-decoration: none;
        font-size: 1.3rem;
      }
    }

    &__post-image {
      @include media('medium') {
          position: absolute;
          right: 1rem;
      }
    }

    &__image {
      width: 3rem;
    }

    &__time {
      color: var(--grayish-blue);
      font-size: 1.1rem !important;
      margin-top: .3rem;
    }

    &__message {
      margin-left: 4rem;
      margin-top: 1rem;
      padding: 1rem 1.7rem;
      font-size: 1.3rem;
      color: var( --dark-grey);
      border: .05rem solid var(--grayish-blue);
      border-radius: .5rem;

      &:hover {
        background-color: var(--very-light-blue);
        border: .05rem solid var(--very-light-blue);
      }
    }
  }
}